<div class="row-fluid search-quick">
    <div class="span2">
        <input type="text" id="quick-Keywords" placeholder="Từ khóa tìm kiếm" class="large" />
    </div>
    <div class="span2">
        <select id="quick-MaHC_Province" class="mws-select2 large">
            <option value="">- - Tỉnh - -</option>
        </select>
    </div>
    <div class="span2">
        <select id="quick-MaHC_District" class="mws-select2 large">
            <option value="">- - Huyện - -</option>
        </select>
    </div>
    <div class="span2">
        <select id="quick-MaHC_Village" class="mws-select2 large">
            <option value="">- - Xã - -</option>
        </select>
    </div>
    <div class="span2">
        <select id="quick-IDDiaChi" class="mws-select2 large">
            <option value="">- - Xóm - -</option>
        </select>
    </div>
    <div class="span2">
        <a data-action="search-advanced" rel="search-advanced" href="javascript: void(0);" class="btn">
            <i class="icon-list-2"></i>&nbsp;Nâng cao
        </a>
    </div>
</div>
