.tableyellow
{
	border-right: #FFD7A0 1px solid;
	border-top: #FFD7A0 1px solid;
	border-left: #FFD7A0 1px solid;
	border-bottom: #FFD7A0 1px solid;
	background-color: #FFFAF4;
	
}

.tableblue
{
	border-right: #D9ECFF 1px solid;
	border-top: #D9ECFF 1px solid;
	border-left: #D9ECFF 1px solid;
	border-bottom: #D9ECFF 1px solid;
	background-color: #F0F9FF;
	
}

.DataGridFixedHeader { POSITION: relative; TOP: expression(this.offsetParent.scrollTop); BACKGROUND-COLOR: rosybrown }

.listTitle
{
	font-weight: bold;
	font-size: 13pt;
	color: #4b4b46;
	font-family: 'Times New Roman';
}
.headerColor
{
	FILTER: progid: DXImageTransform.Microsoft.Gradient(startColorStr='#0a6cce', endColorStr='#ffffff', gradientType='1')
}
.tableBorder
{
	border-right: lightgrey 2px groove;
	border-top: lightgrey 2px groove;
	border-left: lightgrey 2px groove;
	border-bottom: lightgrey 2px groove;
}
.labelHeader
{
	font-weight: bold;
	color: dimgray;
}
.labelContent
{
	font-weight: bold;
}
TABLE 
{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; COLOR: black; FONT-FAMILY: Tahoma, Arial, Verdana, Times New Roman; TEXT-DECORATION: none; 
}

TR
{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; COLOR: black; FONT-FAMILY: Tahoma, Arial, Verdana, Times New Roman; TEXT-DECORATION: none
}

TD
{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; COLOR: black; FONT-FAMILY: Tahoma, Arial, Verdana, Times New Roman; TEXT-DECORATION: none
}
INPUT
{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; COLOR: black; FONT-FAMILY: Tahoma, Arial, Verdana, Times New Roman; TEXT-DECORATION: none
}

SELECT
{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; COLOR: black; FONT-FAMILY: Tahoma, Arial, Verdana, Times New Roman; TEXT-DECORATION: none
}

TEXTAREA
{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; COLOR: black; FONT-FAMILY: Tahoma, Arial, Verdana, Times New Roman; TEXT-DECORATION: none
}

A
{
	COLOR: #0066cc; TEXT-DECORATION: none
}

A:hover 
{
	COLOR: #3300ff; TEXT-DECORATION: underline
}

.cssPageFooter
{
	COLOR: gray
}

.cssPageFooter A
{
	COLOR: gray; TEXT-DECORATION: none
}

.cssPageFooter A:hover
{
	COLOR: gray; TEXT-DECORATION: underline
}

.cssTopMenu
{
	font-weight : bold;
	padding-left : 3px;
	padding-right : 3px;
}

.cssTopMenu A
{
	color : White;
	text-decoration : none;
}

.cssTopMenu A:hover
{
	color : #ffcc00;
	text-decoration : none;
}

.cssTopMenuHover A
{
	font-weight : bold;
	color : #ffcc00;
	text-decoration : none;
}

.cssControlLabel
{
	color : white;
	font-weight : normal;
}
.cssLabelKyLuat1
{
	color : red;
	font-weight : normal;
	padding-left : 5px;
	padding-right : 5px;
	
}
.cssLabelKyLuat2
{
	color : red;
	font-weight : normal;
	background-color : #d9e8f7;	
	padding-left : 5px;
	padding-right : 5px;
}
.cssListHeader
{
	background-color :#2467ae;
	font-weight : bold;
	padding-left : 5px;
	padding-right : 5px;
	color : White;
}
.cssListItem
{
	background-color : White;	
	padding-left : 5px;
	padding-right : 5px;
     
}

.cssListAlternativeItem
{
	background-color : #d9e8f7;	
	padding-left : 5px;
	padding-right : 5px;
}

.cssSelectionListHeader
{
	background-color :#014181;
	font-weight : bold;
	color : White;
}

.cssSelectionListItem
{
	background-color : White;	
}

.cssSelectionListAlternativeItem
{
	background-color : #d9e8f7;	
}

.cssListEditingItem
{
	background-color : #FFFFE0;	
	padding-left : 5px;
	padding-right : 5px;
}

.cssHightlightedListItem
{
	background-color : #FFFFE0;	
	padding-left : 5px;
	padding-right : 5px;
	font-weight : bold;

}

.cssPageTitle
{
	font-weight: bold;
	font-size: 10pt;
	text-transform: uppercase;
	color: white;
	font-family: Tahoma;
}

.cssHelpPageTitle
{
	font-size : 18px;
	color: White;
}

.cssPortalEntry
{
	font-size : 12px;
	font-weight : bold;
}

.cssHomeTitle
{
	font-size : 20px;
	color : Blue;
}

.cssPageSectionTitle
{
	font-size : 12px;
	font-weight : bold;
}

.cssLeftMenu
{
	font-weight : bold;
	padding-left : 3px;
	padding-right : 3px;
}

.cssLeftMenu A
{
	color : White;
	text-decoration : none;
}

.cssLeftMenu A:hover
{
	color : #ffcc00;
	text-decoration : none;
}

.cssLeftMenuActive
{
	color : #ffcc00;
	font-weight : bold;
}

.cssLeftMenuItem
{
	font-weight : normal;
	padding-left : 5px;
}

.cssLeftMenuItem A
{
	color : White;
	text-decoration : none;
}

.cssLeftMenuItem A:hover
{
	color : #ffcc00;
	text-decoration : none;
}

.cssLeftMenuItemActive
{
	color : White;
	padding-left : 5px;
	font-weight : bold;
	background : #3F80BE;
}

.cssLeftMenuTitle
{
	color : White;
	font-weight : bold;
}

.cssPageNavigator
{
	font-size:12px;
	font-weight : bold;
	padding-bottom: 3px;
}

.cssNormalButton
{
	width: 80px;
	height: 20px;
}

.cssNotes
{
	font-size:10px;
	color:gray;
}

.cssSmallText
{
	font-size:10px;
}

.cssTimeTable A
{
	font-size:9px;
	COLOR: #0066cc;
	TEXT-DECORATION: none;
}

.cssTimeTable A:hover 
{
	font-size:9px;
	COLOR: #3300ff;
	TEXT-DECORATION: underline;
}

.cssTimeTableStudyPeriod
{
	background : #ffffcc;
}

.cssReadOnly
{
	background : #EEEEEE;
}

.cssCourseSectionHeader
{
	background : #69a5e0;
	color:#ffffff;
	font-weight : bold;
}

.cssAlternativeFlatCombo
{
	border-left : 1px solid;
	border-bottom : 1px solid;
	border-right : 1px solid;
	border-top : 1px solid;
	background : #d9e8f7;
}

.cssPermissionCheckbox
{
	border : thin none;
	background : #EEEEEE;
}

.cssAccountingReport
{
	font-size:12px;
}

.cssLabelControl
{
	font-weight: normal;
	color: #000000;
}

.cssWhiteLabel
{
	font-weight: normal;
	color: #ffffff;
}

.cssError
{
	color: #ff0000;
}

.cssLabelBoldControl
{
	font-weight: Bold;
	color: #000000;
}

.cssSignOutLink
{
  color:#000000; 
  font-weight:bold;
}

.cssSignOutLink A
{
  color:#000000; 
  font-weight:bold;
  text-decoration : none;
}

.cssSignOutLink A:hover
{
  color:#ffffff; 
  font-weight:bold;
  text-decoration : none;
}
.textbox_display
{
	BORDER-RIGHT: navy thin;
	BORDER-TOP: navy thin;
	FONT-SIZE: 8pt;
	BORDER-LEFT: navy thin;    
	FONT-FAMILY: Arial; 
	background-color: #e9f4fe;
	
}

.cssBgColor
{
	background-color:#E9F4FE
}

.tablebgcolor
{
	border-right: #808080 2px solid;
	padding-right: 5px;
	border-top: #aaaeb4 1px solid;
	padding-left: 5px;
	padding-bottom: 5px;
	border-left: #aaaeb4 1px solid;
	padding-top: 5px;
	border-bottom: #808080 2px solid;
	background-color: #d9e8f7;
}
.tdofftab
{
	border-top: #aaaeb4 1px solid;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	border-bottom: #aaaeb4 1px solid;
}
.tdontab
{
	border-top: #aaaeb4 1px solid;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
}

.columns 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 0.7em; 
	BACKGROUND-IMAGE: url(images/dark_blue_back.gif); 
	COLOR: white; 
	BACKGROUND-REPEAT: repeat-x; 
	BACKGROUND-COLOR: #78abde 
}
TR.white 
{
	BORDER-RIGHT: navy thin; 
	BORDER-TOP: navy thin; 
	FONT-SIZE: 8pt; 
	BORDER-BOTTOM-COLOR: white; 
	BORDER-LEFT: navy thin; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: #f1f1f1 
}
.cssListItemHuman 
{
	PADDING-RIGHT: 5px;
	 PADDING-LEFT: 5px; 
	 BORDER-BOTTOM: 1px solid; 
	 BACKGROUND-COLOR: #f6f6f6 
}
.cssListHeaderHuman 
{ PADDING-RIGHT: 5px; 
  PADDING-LEFT: 5px; 
  FONT-WEIGHT: bold; 
  COLOR: white; 
  BACKGROUND-COLOR: #e6e6e6 
 }
.FtrAppTitle 
{ 
	PADDING-RIGHT: 6px; 
	PADDING-LEFT: 6px; 
	FONT-SIZE: 95%; 
	
	COLOR: #5f5f5f;
	
	FONT-FAMILY: verdana;
	BACKGROUND-COLOR: #bfc8d9
}
.selected 
{
	BACKGROUND-COLOR: #fffff2
}
TD.ltblue 
{
	BORDER-BOTTOM: #a4c2f5 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.ltblueborder {
	BORDER-BOTTOM: #002d96 1px solid; BACKGROUND-COLOR: #a4c2f5
}
DIV.menuBar {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #eaeaea; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif
}
DIV.menuBar A.menuButton {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #eaeaea; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif
}
DIV.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #eaeaea; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif
}
DIV.menu .menuItem {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #eaeaea; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, sans-serif
}
DIV.menu .menuItem {
	FONT-WEIGHT: normal
}
DIV.menu {
	BORDER-RIGHT: #020b1d 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 101; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#EAEAEA,EndColorStr=#FFFFFF); VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #020b1d 1px solid; WIDTH: 160px; PADDING-TOP: 0px; BORDER-BOTTOM: #020b1d 1px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #eaeaea
}
DIV.menu .menuItem {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV.menuBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
DIV.menuBar A.menuButton {
	BORDER-RIGHT: #04163b 1px solid; PADDING-RIGHT: 12px; PADDING-LEFT: 12px; Z-INDEX: 100; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #6893d4 1px solid; COLOR: white; PADDING-TOP: 3px; POSITION: relative; HEIGHT: 21px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.menuBar A.menuButton:hover {
	BORDER-RIGHT: #cad8ee 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#CAD8EE,EndColorStr=#EBF1FA); BORDER-LEFT: #cad8ee 1px solid; COLOR: #000000; BACKGROUND-COLOR: #cad8ee
}
DIV.menuBar A.menuButtonActive {
	BORDER-RIGHT: #3d71be 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3D71BE,EndColorStr=#6893D4); BORDER-LEFT: #3d71be 1px solid; COLOR: #ffffff; BACKGROUND-COLOR: #3d71be
}
DIV.menuBar A.menuButtonActive:hover {
	BORDER-RIGHT: #3d71be 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3D71BE,EndColorStr=#6893D4); BORDER-LEFT: #3d71be 1px solid; COLOR: #ffffff; BACKGROUND-COLOR: #3d71be
}
DIV.menu .menuItem:hover {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3D71BE,EndColorStr=#6893D4); COLOR: #ffffff; BACKGROUND-COLOR: #3d71be
}
DIV.menu .menuItemHighlight {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#3D71BE,EndColorStr=#6893D4); COLOR: #ffffff; BACKGROUND-COLOR: #3d71be
}
DIV.menu DIV.menuItemSep {
	BORDER-TOP: #999999 1px solid; MARGIN: 4px 2px
}
DIV.spacer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 1px
}
.ReadOnlycss
{
	BORDER-TOP-STYLE: groove; BORDER-RIGHT-STYLE: groove; BORDER-LEFT-STYLE: groove; BORDER-BOTTOM-STYLE: groove;
}

.labelHeader
{
	font-weight: bold;
	color: dimgray;
}
.labelContent
{
	font-weight: bold;
}
.tableBorder
{
	border-right: lightgrey 2px groove;
	border-top: lightgrey 2px groove;
	border-left: lightgrey 2px groove;
	border-bottom: lightgrey 2px groove;
}

