@model List<Product_Category>
@{
    Layout = "~/Themes/Photobookmart/Views/Shared/_Layout.Navigation.Full.cshtml";

    ViewBag.Title = "Payment & Shipping";
    var country = CurrentCountry;
    var id = ("payment_and_shipping_desc_" + country.Code.ToLower()).Trim();
    Db.Close();
}
@section _TitleMain {
    <a href='@Url.Action("PaymentShipping", "Style", new { })' rel='payment-shipping' title='Permanent Link: Payment & Shipping'>
        Payment & Shipping</a>
}
@section _TrailLink {
    <a href="/" rel="/" title="Home" class="trail-begin">Home</a> <span class="sep">&raquo;</span>
    <span class="trail-end">Payment & Shipping</span>
}
<div>
    @Html.Action("Embed", "Topic", new { id = id, header = false, ignore_on_error = true })
    <table border="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                </td>
                <td>
                    <strong>Size</strong>
                </td>
                <td>
                    <strong>Pages</strong>
                </td>
                <td>
                    <strong>Shipping</strong>
                </td>
            </tr>
            @foreach (var e in Model ?? Enumerable.Empty<Product_Category>())
            {
                <tr>
                    <td colspan="4" bgcolor="#e6e8eb">
                        <strong>@e.Name</strong>
                    </td>
                </tr>
                @Html.Action("PaymentShipping_ProductDetail", new { catId = e.Id })
            }
        </tbody>
    </table>
    @*<p>Additional RM10.00 will be charged to shipping to East Malaysia</p>*@
</div>
