<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings></connectionStrings>
  <appSettings>
    <add key="Conn_String" value="Data Source=H:\bet-dafanba\src\bet-dafanba\App_Data\dbBet.db3"/><!-- Data Source=H:\bet-dafanba\src\bet-dafanba\App_Data\dbBet.db3 | Data Source=D:\Projects\reference-project\bet-dafanba\src\bet-dafanba\App_Data\dbBet.db3 -->
    <add key="Conn_Timeout" value="2400"/>
    <add key="Conn_Page_Size" value="2147483647"/>
    <add key="Email_User" value=""/>
    <add key="Email_Pass" value=""/>
    <add key="Email_Recieved" value="npe.etc@gmail.com;09520102@gm.uit.edu.vn"/>
    <add key="Email_Recieved_Ex" value="npe.etc@gmail.com"/>
    <add key="Test" value="0"/>
    <add key="Path_Log" value="H:\bet-dafanba\doc\Log-bet-dafanba.txt"/><!-- H:\bet-dafanba\doc\Log-bet-dafanba.txt | D:\Temp\logs\Log-bet-dafanba.txt -->
    <add key="Path_Config" value=""/>
    <add key="Report_Time" value=""/>
    <add key="Dafanba_User" value="xuyendao"/>
    <add key="Dafanba_Pass" value="duyen1990"/>
    <add key="Dafanba_Url_Default" value="https://www.dafanba.org/vn"/>
    <add key="Dafanba_Url_LiveDealer" value="https://www.dafanba.org/vn/live-dealer"/>
    <add key="Dafanba_Dir_Print" value="H:\bet-dafanba\doc\img-02"/><!-- H:\bet-dafanba\doc\img-02 | D:\Temp\logs\FailedReqLogFiles -->
    <add key="Dafanba_Interval_Capture_AG" value="10"/>
    <add key="Dafanba_Alert_Length_AG" value="9"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.web></system.web>
</configuration>
